  <nav>


    <ul>

    <li>
      <a href=/>
        Home Page
      </a>

    </li>

    <li>
      <a href=/about>
        About ViaSafe
      </a>

          <ul>

              <li>
                <a href=/about/what-is-viasafe>
                  What is ViaSafe?
                </a>
              </li>

              <li>
                <a href=/about/mission-values>
                  Our Mission and Values
                </a>
              </li>

              <li>
                <a href=/about/technologies>
                  ViaSafe Technologies
                </a>
              </li>

          </ul>
    </li>

    <li>
      <a href=/features-benefits>
        Features & Benefits
      </a>

          <ul>

              <li>
                <a href=/features-benefits/road-safety>
                  Road Safety
                </a>
              </li>

              <li>
                <a href=/features-benefits/convenience-savings>
                  Convenience and Savings
                </a>
              </li>

              <li>
                <a href=/features-benefits/family-travel>
                  Family and Travel
                </a>
              </li>

              <li>
                <a href=/features-benefits/accessibility>
                  Inclusivity and Accessibility
                </a>
              </li>

              <li>
                <a href=/features-benefits/tuning-customization>
                  Tuning and Customization
                </a>
              </li>

              <li>
                <a href=/features-benefits/logistics-cargo>
                  Logistics and Cargo (For Business)
                </a>
              </li>

          </ul>
    </li>

    <li>
      <a href=/how-it-works>
        How It Works ("Behind the Scenes")
      </a>

          <ul>

              <li>
                <a href=/how-it-works/architecture>
                  ViaSafe Architecture
                </a>
              </li>

              <li>
                <a href=/how-it-works/operators>
                  ViaSafe Operators
                </a>
              </li>

              <li>
                <a href=/how-it-works/global-roaming>
                  Global Roaming
                </a>
              </li>

              <li>
                <a href=/how-it-works/integration>
                  Integration with Existing Systems
                </a>
              </li>

          </ul>
    </li>

    <li>
      <a href=/join>
        Join ViaSafe
      </a>

          <ul>

              <li>
                <a href=/join/users>
                  For Users
                </a>
              </li>

              <li>
                <a href=/join/partners>
                  For Partners (Business, Government)
                </a>
              </li>

              <li>
                <a href=/join/careers>
                  Careers at ViaSafe
                </a>
              </li>

          </ul>
    </li>

    <li>
      <a href=/news-blog>
        News & Blog
      </a>

    </li>

    <li>
      <a href=/contact>
        Contact Us
      </a>

    </li>

    <li>
      <a href=/legal>
        Legal Information
      </a>

          <ul>

              <li>
                <a href=/privacy-policy>
                  Privacy Policy
                </a>
              </li>

              <li>
                <a href=/terms-of-use>
                  Terms of Use
                </a>
              </li>

              <li>
                <a href=/cookie-policy>
                  Cookie Policy
                </a>
              </li>

          </ul>
    </li>

    </ul>

  </nav>
